<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MolAccel3</string>
	<key>CFBundleIdentifier</key>
	<string>se.ibrium.iokit.MolAccel3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>__VERSION__</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>MolAccel3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>se.ibrium.iokit.MolAccel3</string>
			<key>IOClass</key>
			<string>MolAccel3</string>
			<key>IONameMatch</key>
			<array>
				<string>mol-accel</string>
			</array>
			<key>IOProbeScore</key>
			<integer>600</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>

	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>se.ibrium.iokit.MolPE</key>
		<string>1.1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
